.iconbtn {
    width:38px;
    height:38px;
    background-repeat:no-repeat;
}

.iconbtn-tiny {
    width:18px;
    height:18px;
    padding-left:6px;
    padding-right:6px;
    background-repeat:no-repeat;
}

.framebox-container {
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
}

.framebox {
    display:inline-block;
    width:9px;
    height:100%;
    margin:0;
    padding:0;
    float:none;
}

.marquee:hover {
    display:inline-block;
    overflow:hidden;
    animation: marquee 8s linear infinite;
    padding-left:100%;
}

.marquee-container {
    overflow:hidden;
    padding-left:0;
}

@keyframes marquee {
    0% { transform:translate(0,0); }
    100% {transform:translate(-100%, 0); }
}